/* Add a black background color to the top navigation */
body {
  background-color: #2c2f33;
}
.topnav {
    background-color: #23272a;
    overflow: hidden;
    border-radius: 100px;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    font-family: 'Duru Sans', sans-serif;
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    border-radius: 100px;
    color: black;
  }
  #Infoimg {
    margin: 0;
    text-align: center;
    padding-top: 50px;
  }
  #Naslov {
    font-family: 'Duru Sans', sans-serif;
    font-size: 75px;
    font-weight: 100;
    color: #ffffff;
    margin: 0;
    text-align: center;
  }
  